
<!-- HTML Page for Regression model of 50 startups

Make text boxes for R&D spent, Marketing Spent, Admin Spent and State.py
The price should be the output --> 

<html>
<body>

<form action = "/Login", method = "post">
<p> Enter Marketing Spending Amount </p>
<p> <input type = "text" name = "ms" /></p>

<p> Enter Administartive Amount </p>
<p> <input type = "text" name = "as" /></p>

<p> Enter R and D Amount</p>
<p> <input type = "text" name = "rd" /></p>

<!-- Drop down option to select the state -->
<select name = 's'>
<option value = "New York"> New York </option>

<option value = "Florida"> Florida </option>
<option value = "California"> California </option>
</select>

<p> <input  type = "SUBMIT" value = "submit"/></p>
</form>

<b>{{value}}</b>
</body>
</html>
